fastapi
uvicorn[standard]

langchain
langchain-openai
langchain-community
langchain-text-splitters

openai
tiktoken

faiss-cpu

youtube-transcript-api

python-dotenv

pydantic

python-multipart

faiss-cpu
langchain-community
